<div class="row">
  <div id='map'></div>
  <% @fs["groups"][0]["items"].each_with_index do |data,i| %>
    <div class="col-md-2 tag" style="min-height: 190px;">
      <% 
        if data["categories"].present?
          img = data["categories"][0]["icon"] 
          name = data["categories"][0]["name"] 
        end
      %>
      <img src="<%= img %>">
      <h4><%= data["name"] %></h4>
      <h5><%= name %></h5>
      <h6 style="color:#D35400;"><b><%= data["location"]["address"] %></b></h6>
    </div>
  <% end %>
</div>