<table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;border:solid 1px #f4f4f4;border-radius:0px" bgcolor="#2ecc71" width="100%">
   <tbody>
      <tr>
         <td width="98%" valign="top" align="center">
            <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;border:solid 1px none;border-radius:0px;text-align:left" bgcolor="transparent" width="90%">
               <tbody>
                  <tr>
                     <td width="98%" valign="top" align="">
                        <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial" width="100%">
                           <tbody>
                              <tr>
                                 <td height="10">
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="color:white;font-size:20px" valign="top">
                                    Reset Password
                                 </td>
                                 <td>
                                    <table width="5" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:0px;font-size:0px;line-height:0px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td width="98" align="right" valign="top">
                                    <p style="color: white;letter-spacing: 2px;width: 86px;height: 28px;background: #27ae60;border-radius: 2px;padding: 12px 9px 9px 6px;">Foodwhack</p>
                                 </td>
                              </tr>
                              <tr>
                                 <td height="10">
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;border:solid 1px #cccccc;border-radius:5px;text-align:left" bgcolor="#FFFFFF" width="100%">
                           <tbody>
                              <tr>
                                 <td colspan="3">
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:10px;font-size:10px;line-height:10px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td width="1%">
                                    <table width="20" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:0px;font-size:0px;line-height:0px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td width="98%" valign="top" align="">
                                    <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <table width="5" border="0" cellspacing="0" cellpadding="0">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <div style="min-height:0px;font-size:0px;line-height:0px">&nbsp;</div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                             <td style="color:#999999;font-size:16px" valign="middle">
                                                Foodwhack
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <p>Hello,</p>
                                    <p>
                                       Here is a link to change your password. If you didn't request this, please ignore this email.
                                       Your password won't change until you access the link below and create a new one.
                                    </p>
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <a href="http://foodwhack.com/users/password/edit.<%= @resource.id %>?reset_password_token=<%= @token %>">
                                    Change my password
                                    </a>
                                    <% 6.times do %>
                                    	<table width="1" border="0" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    	</table>
                                    <% end %>
                                    <div style="color:#666;font-size:11px">Contact Support: foodwhack@gmail.com</div>
                           </tbody>
                        </table>
                        <% 6.times do %>
	                        <table width="1" border="0" cellspacing="0" cellpadding="0">
	                           <tbody>
	                              <tr>
	                                 <td>
	                                    <div style="min-height:20px;font-size:20px;line-height:20px">&nbsp;</div>
	                                 </td>
	                              </tr>
	                           </tbody>
	                        </table>
                        <% end %>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>