<!DOCTYPE html>
<html>
<head>
  <title>FoodWhack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src='https://rawgithub.com/stamen/modestmaps-js/master/modestmaps.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body onload='initMap()'>
  <!-- Static navbar -->
    <div class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Food Whack</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Foodwhack</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">HOME</a>
            </li>
            <li>
              <a href="#">BLOG</a>
            </li>
            <li>
              <a href="#">HELP</a>
            </li>
            <li>
              <a href="#">ABOUT</a>
            </li>
            <li>
              <a href="#">CONTACT</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input id="geocomplete" type="text" class="form-control col-lg-2"  name="q" placeholder="e.g, New York">
              </div>
            </form>
            </li>
            <li><a href="/users/sign_in">Login</a></li>
          </ul>

        </div>
      </div>
    </div>
  <div class="container">
    <%= yield %>
  </div>
  <%
    q = params[:q] || "Bangalore"
    ll = Geocoder.search("#{q}")
  %>
  <script type="text/javascript">
    $(document).on('page:fetch',   function() { NProgress.start(); });
    $(document).on('page:change',  function() { NProgress.done(); });
    $(document).on('page:restore', function() { NProgress.remove(); });
    $(document).on('page:load', function() { initMap(); });

    var zoomSlider = document.getElementById('zoom');
  var zoomValue = document.getElementById('zoomvalue');
  var map, targetZoom;

  var initMap = function() {
    var template = 'http://{S}tile.openstreetmap.org/{Z}/{X}/{Y}.png';
    var subdomains = ['', 'a.', 'b.', 'c.'];
    var provider = new MM.TemplatedLayer(template, subdomains);
        map = new MM.Map('map', provider, null);

    map.setCenterZoom(new MM.Location(12.58, 77.38), 9);

    targetZoom = map.getZoom();
    zoomSlider.onchange = function() {
      var sliderProp = (zoomSlider.value - zoomSlider.min) / (zoomSlider.max - zoomSlider.min);
      targetZoom = sliderProp * 18.0; 
      MM.getFrame(animateToZoom);
    };
    zoomValue.innerHTML = targetZoom;

    map.addCallback('zoomed', function(){
      zoomValue.innerHTML = map.getZoom().toFixed(2);
      zoomSlider.value = map.getZoom() * 1000;
    });
  }

  var animateToZoom = function() {
    var currentZoom = map.getZoom();
    var nextZoom = currentZoom + (targetZoom - currentZoom) * 0.2;
    if (Math.abs(nextZoom - currentZoom) < 0.001) {
      nextZoom = currentZoom;
    } else {
      MM.getFrame(animateToZoom);
    }
    map.setZoom(nextZoom);
    zoomValue.innerHTML = nextZoom.toFixed(2);
  }

  </script>
</body>
</html>
